<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".LocalNotificationDiagnosticReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="${applicationId}.debug.SCHEDULE_PATIENT_REMINDER" />
                <action android:name="${applicationId}.debug.CANCEL_PATIENT_REMINDERS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".FirebasePushDiagnosticReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="${applicationId}.debug.VERIFY_FCM_TOKEN" />
                <action android:name="${applicationId}.debug.CLEANUP_FCM_TOKEN" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
